button{
    width: fit-content;
}
.btn{
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
    border: none;
    background:rgb(30,177,195);
    background: linear-gradient(90deg, rgba(30,177,195,1) 0%, rgba(0,211,255,1) 50%, rgba(76,224,255,1) 100%);
    color: black;
}
.btn.block {
    width: 100%;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 2px 8px 4px rgba(64, 72, 100, 0.534);
}
.btn.btn-icon{
    font-size: 2rem;
    line-height: 2rem;
    width: 3rem;
    height: 3rem;
}