@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;1,200&display=swap');

body{
    background: rgb(5, 5, 48);
}
*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 900px;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    background-color: yellow;
    padding: 0.5rem 0rem;

}
nav ul li{
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 300 all ease;   
}
nav ul li:hover{
    background-color: rgb(156, 148, 148);
    cursor: pointer;
}
nav a{
    color: blue;
    text-decoration: none;
}

@media (max-widht: 768px){
    ul.nav-list-desktop{
        background: black;
        z-index: -1;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 55px;
        transform: translateY(-100%);
        right: 0;
        transition: 0.3s; all:ease;
    }
    ul.nav-list-desktop.show{
        transform: translateY(0);
    }
    nav ul.nav-list-mobile{
        display: flex;
    }
}

section:not(#jumbotron) {
    padding: 3rem 0;
}
ul{
    list-style: none;
}
.row-v-center{
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(149, 222, 255);
    font-size: 0.8rem;
    font-weight: 500;
}