:root{
    --color-1: rgb(6, 135, 248);
    --color-2: rgb(41, 46, 65);
    --color-3: rgb(21, 15, 68);
    --color-wh: white;
    --color-wh-1: rgb(183, 141, 252);
    --color-bl: black;

    --gap-1: 0,5rem;
    --gap-2: 1rem;
    --gap-3:1,5rem;
    --gap-4: 2rem;
    --gap-5: 3rem;

    --br-1: 0.25rem;
}